*{padding: 0px; margin:0px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.hero {
    height: 15%;
    width: 98%;
    display: flex;
    margin: 1%;
    background-color: #212121;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;}

.hero-text {
    position: static;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#E45300;
    font-size: 20px;
    width: 50%;
    height: 42%;
    border-radius: 20px;
}
        
.hero-logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    left: 7%;
    background-color: black;
    border-radius: 20px;
    height: 80px;
    width: 80px;
}

.logo-img {
    height: 75%;
    position: relative;
}

.hero-buttons {
    display: flex;
    position: absolute;
    right: 5%;
    width: 10%;
    justify-content: space-evenly;
    align-items: center;
}

.alert-button {
    position: relative;
    height: 50px;
    width: 50px;
    color:#E45300;
    background-color: black;
    border-color:#E45300;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.alert-button:hover {
    color: black;
    background-color: #E45300;
    border-color: black;
}

.profile-button:hover {
    color: black;
    background-color: #E45300;
    border-color: black;
}

.profile-button {
    position: relative;
    height: 50px;
    width: 50px;
    color:#E45300;
    background-color: black;
    border-color:#E45300;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.fas fa-bell fa-2x {
    border: none;
}

.fas fa-user-circle fa-2x {
    border: none;
}

.left-sidebar {
    position:fixed;
    top: 15%;
    left: 0%;
    width: 21%;
    height: 80%;
    margin: 1%;
    margin-top: 2%;
    background-color: #212121;
    border-radius: 20px;
}

.sidebar-row {
    position: relative;
    display: flex;
    height: 10%;
    color: #E45300;
    text-align: center;
    justify-content: left;
    padding-left: 4%;
    align-items: center;
    cursor: pointer;
}

.sidebar-row:hover {
    background-color: #101010;
}


.sidebar-header {
    position: relative;
    display: flex;
    height: 8%;
    text-decoration: underline;
    color: #E45300;
    text-align: center;
    justify-content: center;
    align-self: center;
}

.sidebar-text {
    position: relative;
    padding-left: 5%;
}

.sidebar-spacing {
    height: 25%
}

.slider-row {
    position: relative;
    display: flex;
    height: 8%;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.sidebar-content {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
    color:#E45300;
}

.economic-calendar {
    color: #E45300;
    background-color: #090909;
    border: 2px solid rgb(80, 80, 80);
    border-collapse: collapse;
    margin-left: 3%;
    margin-right: 3%;
    width: 100%;
    text-align: left;
    font-size: 12px;
    overflow: scroll;
}

.market-activity {
    color: #E45300;
    background-color: #090909;
    border: 2px solid rgb(80, 80, 80);
    border-collapse: collapse;
    margin-left: 3%;
    margin-right: 3%;
    width: 100%;
    text-align: left;
    font-size: 12px;
    overflow: scroll;
}

th, td {
    border: 2px solid rgb(80, 80, 80);
    padding: 2px;
}

.activity-list {
    border: none;
    border-top: 2px solid rgb(80, 80, 80);
    padding: 2px;
}

.fed-button {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 70px;
    height: 34px;
}

.fed-button input {
    opacity: 0;
    width: 0;
    height: 0;
    min-width: none;
}

.fed-slider {
    position: flex;
    cursor: pointer;
    justify-content: center;
    width: 70px;
    background-color: rgb(245, 174, 108);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

.fed-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 13px;
    bottom: 4px;
    background-color: rgb(128, 128, 128);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
  }

input:checked + .fed-slider {
    background-color: #E45300;
}
  
input:checked + .fed-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: rgb(0, 0, 0);
}

.main{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.middle {
    position: fixed;
    top: 15%;
    margin-top: 2%;
    text-align: center;
    width: 56%;
    height: 80%;
    overflow: hidden;
}
.searchbar-div {
    width: 92%;
    padding: 2%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #212121;
    border-radius: 20px;
}

.searchbar {
    text-align: left;
    background-color: rgb(245, 174, 108);
    border-radius: 20px;
    color: black;
    font-weight: bold;
    margin-left: 0%;
    padding: 1%;
    width:84%;
}

.search-button {
    display: flex;
    width: 10%;
    background-color: #090909;
    border: 2px solid #E45300;
    color: #E45300;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.search-button:hover {
    background-color: #E45300;
    color: #090909;
    border-color: #090909;
}

.or-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
    color: #E45300;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    background-color: #212121;
}

.homepage-screener {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    text-align: left;
    font-size: 14px;
    width: 96%;
    height: 74%;
    justify-content: flex-start;
    background-color: #212121;
    border-radius: 20px;
    overflow-y: hidden;
}

.screener-results {
    display: flex;
    height: 100%;
    width: 90%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #E45300;
    background-color: #212121;
}

.scroll-box {
    margin: 2%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
::-webkit-scrollbar-track {
    background: rgb(128, 128, 128);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #E45300;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:active {
    background: #b94704;
}

.filter-group {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: left;
    margin-right: 1%;
    border-radius: 10px;
    border-bottom: 2px solid rgb(80, 80, 80);
}

.filter-group-header {
    display: flex;
    color: #E45300;
    position: relative;
    align-items: center;
    text-align: left;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    height: 30px;
    padding: 8px;
    font-size: 16px;
}

.button-box {
    position: relative;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: black;
    text-align: center;
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 10px;
}

.filter-btn.active {
    transform:  rotate(-90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E45300;
    background-color: black;
    border-color: black;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.filter-group-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E45300;
    background-color: black;
    border-color: black;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.filter-group-body {
    display: flex;
    flex-direction: column;
    padding: 1%;
    padding-right: 4%;
}

.filter-group-row {
    display: flex;
    justify-content: space-between;
}

.filter-property {
    float: left;
    display: flex;
    height: 44px;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.filter-multi-property {
    float: left;
    display: flex;
    height: 44px;
    justify-content: space-between;
    align-items: center;
}

.middle-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph-container {
    height: 60%;
    width: 90%;
    display: flex;
    background-color: #212121;
    color: #E45300;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.mini-screener {
    height: 38%;
    width: 90%;
    margin-top: 2%;
    display: flex;
    background-color: #212121;
    color: #E45300;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.filter-title {
    background-color: #212121;
    border: 1px solid rgb(rgb(78, 78, 78));
}

.filter-body-text {
    color: #E45300;
}

.screener-header{
    width: 10%;
    padding: 1%;
    color: whitesmoke;
}

.screener-input {
    text-align: left;
    width: 90px;
    font-size: 11px;
}

label {
    color: #E45300;
    text-align: left;
    width: 130px;
    font-weight: bold;
}

.timeframe-label {
    font-weight: normal;
    text-align: right;
}

.value-range-label {
    font-weight: normal;
    text-align: right;
}

input {
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
    background-color: rgb(245, 174, 108);
}

select {
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
    font-size: 11px;
    max-width: 140px;
    background-color: rgb(245, 174, 108);
}

input:focus {
    border: 3px solid rgb(0, 0, 0);
    outline: none;
}    
  
select:focus {
    border:3px solid rgb(0, 0, 0);
    outline: none;
}

.right-sidebar {
    position: fixed;
    top:15%;
    right:0%;
    width: 21%;
    height: 80%;
    margin: 1%;
    margin-top: 2%;
    background-color: #212121;
    border-radius: 20px;
}

.gainers-button {
    border: 2px solid #E45300;
    border-radius: 10px;
    background-color:rgb(0, 0, 0);
    color: #E45300;
    padding: 5px 12px;
    font-size: 11px;
    cursor: pointer;
    height: 60%;
    width: 30%
}

.gainers-button:hover {
    background-color: #E45300;
    color: black;
    border: 2px solid black;
}

.gainers-button:focus {
    background-color: #E45300;
    color: black;
    border: 2px solid black;
}

.volume-button {
    width: 30%;
    height: 60%;
    border: 2px solid #E45300;
    border-radius: 10px;
    background-color:rgb(0, 0, 0);
    color: #E45300;
    padding: 5px 12px;
    font-size: 11px;
    cursor: pointer;
}

.volume-button:hover {
    background-color: #E45300;
    color: black;
    border: 2px solid black;
}

.volume-button:focus {
    background-color: #E45300;
    color: black;
    border: 2px solid black;
}

.losers-button {
    width: 30%;
    height: 60%;
    border: 2px solid #E45300;
    border-radius: 10px;
    background-color:rgb(0, 0, 0);
    color: #E45300;
    padding: 5px 12px;
    font-size: 11px;
    cursor: pointer;
}

.losers-button:hover {
    background-color: #E45300;
    color: black;
    border: 2px solid black;
}

.losers-button:focus {
    background-color: #E45300;
    color: black;
    border: 2px solid black;
}

.button-row {
    position: relative;
    display: flex;
    height: 8%;
    color: whitesmoke;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}