*{padding: 0px; margin:0px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.hero {
    height: 15%;
    width: 98%;
    display: flex;
    margin: 1%;
    background-color: #212121;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;}

.hero-text {
    position: static;
    text-align: center;
    color:#E45300;
    font-size: 20px;
    width: 60%;}
        
.hero-logo {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 7%;
    background-color: black;
    border-radius: 20px;
    height: 80px;
    width: 80px;
}

.logo-img {
    height: 75%;
    position: relative;
}

.hero-buttons {
    display: flex;
    position: absolute;
    right: 5%;
    width: 10%;
    justify-content: space-evenly;
    align-items: center;
}

.alert-button {
    position: relative;
    height: 50px;
    width: 50px;
    color: black;
    background-color: #E45300;
    border-color: black;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.alert-button:hover {
    color:#E45300;
    background-color: black;
    border-color:#E45300;
}

.profile-button:hover {
    color:#E45300;
    background-color: black;
    border-color:#E45300;
}

.profile-button {
    position: relative;
    height: 50px;
    width: 50px;
    color: black;
    background-color: #E45300;
    border-color: black;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.fas fa-bell fa-2x {
    border: none;
}

.fas fa-user-circle fa-2x {
    border: none;
}

.left-sidebar {
    position:fixed;
    top: 15%;
    left: 0%;
    width: 18%;
    height: 80%;
    margin: 1%;
    margin-top: 2%;
    background-color: #212121;
    border-radius: 20px;
}

.sidebar-row {
    position: relative;
    display: flex;
    height: 10%;
    color: #E45300;
    text-align: center;
    justify-content: left;
    padding-left: 4%;
    align-items: flex-end;
}


.sidebar-header {
    position: relative;
    display: flex;
    height: 8%;
    text-decoration: underline;
    color: #E45300;
    text-align: center;
    justify-content: center;
    align-self: center;
}

.sidebar-text {
    position: absolute;
    left: 20%;
    bottom: 1%;
    padding-left: 2%;
}

.sidebar-spacing {
    height: 25%
}

.slider-row {
    position: relative;
    display: flex;
    height: 8%;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.calendar-container {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
    color:#E45300;
}

.economic-calendar {
    color: #E45300;
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
    text-align: left;
    font-size: 12px;
    overflow: scroll;
}

th, td {
    border: 2px solid black;
    padding: 2px;
}

.fed-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.fed-button input {
    opacity: 0;
    width: 0;
    height: 0;
}

.fed-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(245, 174, 108);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10%;
}

.fed-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: whitesmoke;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10%;
  }

input:checked + .fed-slider {
background-color: #E45300;
}
  
input:checked + .fed-slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
background-color: rgb(39, 39, 39);
}

.main{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.middle {
    position: fixed;
    top: 15%;
    margin-top: 2%;
    text-align: center;
    width: 60%;
    height: 80%;
    overflow: hidden;
}
.searchbar-div {
    width: 100%;
}

.searchbar {
    text-align: left;
    background-color: rgb(245, 174, 108);
    border-radius: 20px;
    color: black;
    font-weight: bold;
    margin-bottom: 5%;
    padding: 1%;
    width:80%;
}

.or-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
    color: #E45300;
    border-radius: 50%;
    width:50px;
    height: 50px;
    background-color: #212121;
}

.homepage-screener {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(8, 15%);
    gap: 2%;
    margin-top: 5%;
    padding-top: 2%;
    text-align: center;
    font-size: 14px;
    width: 80%;
    height: 100%;
    justify-content: center;
    background-color: #212121;
    border-radius: 20px;
    overflow-y: scroll;
}

.grid1{
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: flex-start;
    overflow: hidden;
}

.grid2 {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: flex-start;
    overflow: hidden;
}

.grid3 {
    grid-row: 1/2;
    grid-column: 3/4;
    align-self: flex-start;
    overflow: hidden;
}

.grid4 {
    grid-row: 1/2;
    grid-column: 4/5;
    align-self: flex-start;
    overflow: hidden;
}

.grid5 {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: flex-start;
    overflow: hidden;
}

.grid6 {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: flex-start;
    overflow: hidden;
}

.grid7 {
    grid-row: 2/3;
    grid-column: 3/4;
    align-self: flex-start;
    overflow: hidden;
}

.grid8 {
    grid-row: 2/3;
    grid-column: 4/5;
    align-self: flex-start;
    overflow: hidden;
}

.grid9 {
    grid-row: 3/4;
    grid-column: 1/2;
    align-self: flex-start;
    overflow: hidden;
}

.grid10 {
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: flex-start;
    overflow: hidden;
}

.grid11 {
    grid-row: 3/4;
    grid-column: 3/4;
    align-self: flex-start;
    overflow: hidden;
}

.grid12 {
    grid-row: 3/4;
    grid-column: 4/5;
    align-self: flex-start;
    overflow: hidden;
}

.grid13 {
    grid-row: 4/5;
    grid-column: 1/2;
    align-self: flex-start;
    overflow: hidden;
}

.grid14 {
    grid-row: 4/5;
    grid-column: 2/3;
    align-self: flex-start;
    overflow: hidden;
}

.grid15 {
    grid-row: 4/5;
    grid-column: 3/4;
    align-self: flex-start;
    overflow: hidden;
}

.grid16 {
    grid-row: 4/5;
    grid-column: 4/5;
    align-self: flex-start;
    overflow: hidden;
}

.grid17 {
    grid-row: 5/6;
    grid-column: 1/2;
    align-self: flex-start;
    overflow: hidden;
}

.grid18 {
    grid-row: 5/6;
    grid-column: 2/3;
    align-self: flex-start;
    overflow: hidden;
}

.grid19 {
    grid-row: 5/6;
    grid-column: 3/4;
    align-self: flex-start;
    overflow: hidden;
}

.grid20 {
    grid-row: 5/6;
    grid-column: 4/5;
    align-self: flex-start;
    overflow: hidden;
}

.grid21 {
    grid-row: 6/7;
    grid-column: 1/2;
    align-self: flex-start;
    overflow: auto;
}

.middle-container {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-right: 0%;
}

.filter-title {
    background-color: #212121;
    border: 1px solid rgb(rgb(78, 78, 78));
}

.screener-header{
    width: 10%;
    padding: 1%;
    color: whitesmoke;
}

.screener-input {
    text-align: left;
    padding: 1%;
    width: 10%;
}

label {
    color: #E45300;
}

input {
    background-color: rgb(245, 174, 108);
}

select {
    margin-top: 5%;
    width: 94%;
    background-color: rgb(245, 174, 108);
}

input {
    margin-top: 5%;
    width: 94%;
}

.right-sidebar {
    position: fixed;
    top:15%;
    right:0%;
    width: 18%;
    height: 80%;
    margin: 1%;
    margin-top: 2%;
    background-color: #212121;
    border-radius: 20px;
}

.gainers-button {
    border: 2px solid black;
    background-color:rgb(245, 174, 108);
    border-radius: 10px;
    color: black;
    padding: 5px 12px;
    font-size: 11px;
    cursor: pointer;
    height: 60%;
    width: 30%
}

.gainers-button:hover {
    background-color: #E45300;
}

.gainers-button:focus {
    background-color: #E45300;
}

.volume-button {
    width: 30%;
    height: 60%;
    border: 2px solid black;
    border-radius: 10px;
    background-color:rgb(245, 174, 108);
    color: black;
    padding: 5px 12px;
    font-size: 11px;
    cursor: pointer;
}

.volume-button:hover {
    background-color: #E45300;
}

.volume-button:focus {
    background-color: #E45300;
}

.losers-button {
    width: 30%;
    height: 60%;
    border: 2px solid black;
    border-radius: 10px;
    background-color:rgb(245, 174, 108);
    color: black;
    padding: 5px 12px;
    font-size: 11px;
    cursor: pointer;
}

.losers-button:hover {
    background-color: #E45300;
}

.losers-button:focus {
    background-color: #E45300;
}

.button-row {
    position: relative;
    display: flex;
    height: 8%;
    color: whitesmoke;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}