*{padding: 0px; margin:0px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.hero {
    height: 15%;
    width: 98%;
    display: flex;
    margin: 1%;
    background-color: #212121;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;}

.hero-text {
    position: static;
    text-align: center;
    color:#E45300;
    font-size: 20px;
    width: 60%;}
        
.hero-logo {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 7%;
    background-color: black;
    border-radius: 20px;
    height: 80px;
    width: 80px;
}

.logo-img {
    height: 75%;
    position: relative;
}

.hero-buttons {
    display: flex;
    position: absolute;
    right: 5%;
    width: 10%;
    justify-content: space-evenly;
    align-items: center;
}

.alert-button {
    position: relative;
    height: 50px;
    width: 50px;
    color:#E45300;
    background-color: black;
    border-color:#E45300;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.alert-button:hover {
    color: black;
    background-color: #E45300;
    border-color: black;
}

.profile-button:hover {
    color: black;
    background-color: #E45300;
    border-color: black;
}

.profile-button {
    position: relative;
    height: 50px;
    width: 50px;
    color:#E45300;
    background-color: black;
    border-color:#E45300;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.fas fa-bell fa-2x {
    border: none;
}

.fas fa-user-circle fa-2x {
    border: none;
}

.left-sidebar {
    position:fixed;
    top: 15%;
    left: 0%;
    width: 21%;
    height: 80%;
    margin: 1%;
    margin-top: 2%;
    background-color: #212121;
    border-radius: 20px;
}

.sidebar-row {
    position: relative;
    display: flex;
    height: 10%;
    color: #E45300;
    text-align: center;
    justify-content: left;
    padding-left: 4%;
    align-items: flex-end;
}


.sidebar-header {
    position: relative;
    display: flex;
    height: 8%;
    text-decoration: underline;
    color: #E45300;
    text-align: center;
    justify-content: center;
    align-self: center;
}

.sidebar-text {
    position: absolute;
    left: 20%;
    bottom: 1%;
    padding-left: 2%;
}

.sidebar-spacing {
    height: 25%
}

.slider-row {
    position: relative;
    display: flex;
    height: 8%;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.calendar-container {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
    color:#E45300;
}

.economic-calendar {
    color: #E45300;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(80, 80, 80);
    border-collapse: collapse;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
    text-align: left;
    font-size: 12px;
    overflow: scroll;
}

th, td {
    border: 2px solid rgb(80, 80, 80);
    padding: 2px;
}

.fed-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.fed-button input {
    opacity: 0;
    width: 0;
    height: 0;
}

.fed-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(245, 174, 108);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10%;
}

.fed-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(128, 128, 128);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10%;
  }

input:checked + .fed-slider {
    background-color: #E45300;
}
  
input:checked + .fed-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: rgb(0, 0, 0);
}

.main{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.middle {
    position: fixed;
    top: 15%;
    margin-top: 2%;
    text-align: center;
    width: 60%;
    height: 80%;
    overflow: hidden;
}
.searchbar-div {
    width: 100%;
}

.searchbar {
    text-align: left;
    background-color: rgb(245, 174, 108);
    border-radius: 20px;
    color: black;
    font-weight: bold;
    margin-bottom: 4%;
    margin-top: 4%;
    padding: 1%;
    width:90%;
}

.or-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
    color: #E45300;
    border-radius: 50%;
    width:50px;
    height: 50px;
    background-color: #212121;
}

.homepage-screener {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    text-align: center;
    font-size: 14px;
    width: 90%;
    height: 100%;
    justify-content: flex-start;
    background-color: #212121;
    border-radius: 20px;
    overflow-y: hidden;
}

.scroll-box {
    margin: 2%;
    overflow-y: scroll;
}

.filter-group {
    display: flex;
}

.filter-group-header {
    display: flex;
    color: #E45300;
    position: relative;
    align-items: center;
    text-align: left;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    width: 100%;
    height: 30px;
    padding: 8px;
}

.filter-btn {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    padding: 5px;
}

.filter-group-body {
    display: table;
    border-collapse: separate;
    position: relative;
}

.filter-property {
    float: left;
    display: flex;
    height: 44px;
    width: 30%;
    padding: 0.5%;
    justify-content: space-between;
    align-items: center;
}

.filter-multi-property {
    float: left;
    display: flex;
    height: 44px;
    width: 90%;
    padding: 0.5%;
    justify-content: space-between;
    align-items: center;
}

.middle-container {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-right: 0%;
}

.filter-title {
    background-color: #212121;
    border: 1px solid rgb(rgb(78, 78, 78));
}

.filter-body-text {
    color: #E45300;
}

.screener-header{
    width: 10%;
    padding: 1%;
    color: whitesmoke;
}

.screener-input {
    text-align: left;
    background-color: rgb( rgb(121, 255, 121));
    max-width: 25%;
}

label {
    color: #E45300;
    text-align: left;
    padding-left: 2%;
    max-width: 50%;
    min-width: 20%;
}

input {
    margin-left: 1%;
    margin-right: 1%;
    padding: 1%;
    background-color: rgb(245, 174, 108);
}

select {
    margin-left: 1%;
    margin-right: 1%;
    padding: 1%;
    max-width: 50%;
    background-color: rgb(245, 174, 108);
}

input:focus {

    border: 2px solid rgb(0, 0, 0);
    outline: none;
  
}    
  
select:focus {
  
    border:2px solid rgb(0, 0, 0);
    outline: none;
  
}

.right-sidebar {
    position: fixed;
    top:15%;
    right:0%;
    width: 21%;
    height: 80%;
    margin: 1%;
    margin-top: 2%;
    background-color: #212121;
    border-radius: 20px;
}

.gainers-button {
    border: 2px solid #E45300;
    border-radius: 10px;
    background-color:rgb(0, 0, 0);
    color: #E45300;
    padding: 5px 12px;
    font-size: 11px;
    cursor: pointer;
    height: 60%;
    width: 30%
}

.gainers-button:hover {
    background-color: #E45300;
    color: black;
    border: 2px solid black;
}

.gainers-button:focus {
    background-color: #E45300;
    color: black;
    border: 2px solid black;
}

.volume-button {
    width: 30%;
    height: 60%;
    border: 2px solid #E45300;
    border-radius: 10px;
    background-color:rgb(0, 0, 0);
    color: #E45300;
    padding: 5px 12px;
    font-size: 11px;
    cursor: pointer;
}

.volume-button:hover {
    background-color: #E45300;
    color: black;
    border: 2px solid black;
}

.volume-button:focus {
    background-color: #E45300;
    color: black;
    border: 2px solid black;
}

.losers-button {
    width: 30%;
    height: 60%;
    border: 2px solid #E45300;
    border-radius: 10px;
    background-color:rgb(0, 0, 0);
    color: #E45300;
    padding: 5px 12px;
    font-size: 11px;
    cursor: pointer;
}

.losers-button:hover {
    background-color: #E45300;
    color: black;
    border: 2px solid black;
}

.losers-button:focus {
    background-color: #E45300;
    color: black;
    border: 2px solid black;
}

.button-row {
    position: relative;
    display: flex;
    height: 8%;
    color: whitesmoke;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}