*{padding: 0px; margin:0px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.hero {
    height: 15%;
    width: 98%;
    display: flex;
    margin: 1%;
    background-color: rgb(51, 51, 51);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 25px;}

.hero-text {
    position: static;
    text-align: center;
    color:whitesmoke;
    font-size: 20px;
    width: 60%;}
        
.hero-logo {
    position:absolute;
    left: 13%;}

.alert-button {
    position: absolute;
    right: 6%;
    height: 50px;
    width: 50px;
    color: whitesmoke;
    background-color: black;
    text-align: center;
    border-radius: 50%;
}

.profile-button {
    position: absolute;
    right: 2%;
    height: 50px;
    width: 50px;
    color: whitesmoke;
    background-color: black;
    text-align: center;
    border-radius: 50%;
}

.fas fa-bell fa-2x {
    border: none;
}

.fas fa-user-circle fa-2x {
    border: none;
}

.left-sidebar {
    position:fixed;
    top: 15%;
    left: 0%;
    width: 18%;
    height: 80%;
    margin: 1%;
    margin-top: 2%;
    background-color: rgb(51, 51, 51);
    border-radius: 25px;
}

.sidebar-row {
    position: relative;
    display: flex;
    height: 10%;
    color: whitesmoke;
    text-align: center;
    justify-content: left;
    padding-left: 4%;
    align-items: flex-end;
}

.sidebar-header {
    position: relative;
    display: flex;
    height: 10%;
    text-decoration: underline;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    align-self: flex-end;
}

.sidebar-text {
    position: absolute;
    left: 20%;
    bottom: 1%;
    padding-left: 2%;
}

.sidebar-spacing {
    height: 25%
}

.main{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.middle {
    text-align: center;
    width: 60%;
}
.searchbar-div {
    width: 100%;
}

.searchbar {
    text-align: left;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 0.5%;
    width:80%;
}

.or-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
    color: whitesmoke;
    border-radius: 50%;
    width:50px;
    height: 50px;
    background-color: rgb(78, 78, 78);
}

.homepage-screener {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(5, 20%);
    gap: 2%;
    margin-top: 5%;
    text-align: center;
    width: 80%;
    height: 100%;
    justify-content: center;
}

.grid1{
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
    overflow: hidden;
}

.grid2 {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    overflow: hidden;
}

.grid3 {
    grid-row: 1/2;
    grid-column: 3/4;
    align-self: center;
    overflow: hidden;
}

.grid4 {
    grid-row: 1/2;
    grid-column: 4/5;
    align-self: center;
    overflow: hidden;
}

.grid5 {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: center;
    overflow: hidden;
}

.grid6 {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: center;
    overflow: hidden;
}

.grid7 {
    grid-row: 2/3;
    grid-column: 3/4;
    align-self: center;
    overflow: hidden;
}

.grid8 {
    grid-row: 2/3;
    grid-column: 4/5;
    align-self: center;
    overflow: hidden;
}

.grid9 {
    grid-row: 3/4;
    grid-column: 1/2;
    align-self: center;
    overflow: hidden;
}

.grid10 {
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: center;
    overflow: hidden;
}

.grid11 {
    grid-row: 3/4;
    grid-column: 3/4;
    align-self: center;
    overflow: hidden;
}

.grid12 {
    grid-row: 3/4;
    grid-column: 4/5;
    align-self: center;
    overflow: hidden;
}

.grid13 {
    grid-row: 4/5;
    grid-column: 1/2;
    align-self: center;
    overflow: hidden;
}

.grid14 {
    grid-row: 4/5;
    grid-column: 2/3;
    align-self: center;
    overflow: hidden;
}

.grid15 {
    grid-row: 4/5;
    grid-column: 3/4;
    align-self: center;
    overflow: hidden;
}

.grid16 {
    grid-row: 4/5;
    grid-column: 4/5;
    align-self: center;
    overflow: hidden;
}

.middle-container {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-right: 0%;
}

.filter-title {
    background-color: rgb(51, 51, 51);
    border: 1px solid rgb(rgb(78, 78, 78));
}

.screener-header{
    width: 10%;
    padding: 1%;
    color: whitesmoke;
}

.screener-input {
    text-align: left;
    padding: 1%;
    width: 10%;
}

label {
    color: whitesmoke;
}

select {
    margin-top: 5%;
    width: 94%;
}

input {
    margin-top: 5%;
    width: 94%;
}

.right-sidebar {
    position: fixed;
    top:15%;
    right:0%;
    width: 18%;
    height: 80%;
    margin: 1%;
    margin-top: 2%;
    background-color: rgb(51, 51, 51);
    border-radius: 25px;
}
